<%- include('header'); -%> <%- include('navbar'); -%>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-one-fifth is-three-fifths">
        <% if(locals.err) { %>
        <article class="message is-danger is-small">
          <div class="message-body"><%= err %></div>
        </article>
        <% } %>

        <form action="" method="POST" class="box">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" name="name" type="text" placeholder="wg0" required />
            </div>
            <p class="help">Name use for interface, choose simple and wisely name like wg0.</p>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <input class="input" name="desc" type="text" placeholder="Home network" />
            </div>
            <p class="help">Description is short explanation, it's just for your inforamtion.</p>
          </div>

          <div class="field">
            <label class="label">Address</label>
            <div class="control">
              <input class="input" name="cidr" type="text" placeholder="10.10.10.1/24" required />
            </div>
            <p class="help">Enter a CIDR in private IP address.</p>
          </div>

          <div class="field">
            <label class="label">Port</label>
            <div class="control">
              <input class="input" name="port" type="text" placeholder="51820" required />
            </div>
            <p class="help">Enter a free port on your host for listening interface traffic.</p>
          </div>

          <div class="field">
            <label class="label">Private Key</label>
            <div class="control">
              <input class="input" name="privateKey" type="text" value="<%= privateKey %>" readonly required />
            </div>
            <p class="help">it's generate automaticly from your host don't change it.</p>
          </div>

          <div class="field">
            <label class="label">Public Key</label>
            <div class="control">
              <input class="input" name="publicKey" type="text" value="<%= publicKey %>" readonly required />
            </div>
            <p class="help">it's generate automatically from your host don't change it.</p>
          </div>

          <div class="field">
            <label class="label">Post Up</label>
            <div class="control">
              <input class="input" name="postup" type="text" />
            </div>
            <p class="help">you can enter bash command, it's run when interface turning on.</p>
          </div>

          <div class="field">
            <label class="label">Post Down</label>
            <div class="control">
              <input class="input" name="postdown" type="text" />
            </div>
            <p class="help">you can enter bash command, it's run when interface turning down.</p>
          </div>

          <div class="field">
            <p class="control">
              <button class="button is-primary">Create Interface</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>
