<%- include('header'); -%> <%- include('navbar'); -%>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <% interfaces.forEach(function(interface){ %>

        <div class="box">
          <div class="columns">
            <div class="column is-2 has-text-centered <%= interface.active === true ? 'enabled-interface' : 'disabled-interface' %>">
              <p class="m-5"><span class="material-icons">link</span></p>
              <strong><%= interface.name %></strong>
            </div>
            <div class="column is-clipped" style="white-space: nowrap">
              <p><strong>Description: </strong><%= interface.desc %></p>
              <p><strong>Address: </strong><%= interface.address %></p>
              <p><strong>Port: </strong><%= interface.port %></p>
              <p><strong>Public Key: </strong><%= interface.publicKey %></p>
            </div>
            <div class="column is-2">
              <a class="button is-small my-1 is-fullwidth" href="/interface/edit/<%= interface.name %>">Edit</a>
              <% if(interface.active===true) { %>
              <a class="button is-small my-1 is-fullwidth" href="/interface/deactivate/<%= interface.name %>">Deactivate</a>
              <% } else { %>
              <a class="button is-small my-1 is-fullwidth" href="/interface/activate/<%= interface.name %>">Activate</a>
              <% } %>
              <a class="button is-small my-1 is-fullwidth delete-interface" href="/interface/delete/<%= interface.name %>">Delete</a>
              <a class="button is-small my-1 is-fullwidth" href="/peer/add/<%= interface.name %>">Add Peer</a>
            </div>
          </div>
        </div>

        <% }); %>
      </div>
    </div>
  </div>
</section>

<script>
  document.querySelectorAll(".delete-interface").forEach((delBtn) => {
    delBtn.addEventListener("click", function (e) {
      e.preventDefault();
      const href = delBtn.href;
      const splitedHref = href.split("/");
      let confirmDeleteInterface = confirm("Are you sure to delete " + splitedHref[splitedHref.length - 1] + "?");
      if (confirmDeleteInterface) {
        window.location.href = href;
      }
    });
  });
</script>

<%- include('footer'); -%>
